In [12]:
age=50

In [13]:
print("my age is: ",age)

my age is:  50

In [5]:
# f string 
print(f"my age is :{age}")

my age is :50

In [9]:
name="nutan" 
age=30
print("my age is {} and name is {}".format(age,name))

my age is 30 and name is nutan

In [10]:
#placeholder
print("my age is {firstname} and name is {firstage}".format(firstname=age,firstage=age))

my age is 30 and name is 30

# control flow
## Dicission making statements

In [15]:
#if statment
age=18
if age>=18:
    print("you are eligible to vote")
else:
    print("You are no
          t eligibale to vote")

you are eligible to vote

In [18]:
age=18
if age<18:
    print("you are eligible to vote")
else:
    print("You are nat eligibale to vote")

You are nat eligibale to vote

In [21]:
input()

 nutan bagde

'nutan bagde'

In [23]:
#default data type of input function is string 
name=input("Enter the name")

Enter the name Krish naik

In [26]:
#typecasting(str ---> int)
age=int(input("Enter your age"))

Enter your age 36

In [30]:
age=int(input("Enter your age"))
if age>=18 and age<=45:
    print("You are young blood")
else:
    print("Thank You we will late you know.")

Enter your age 26

You are young blood

In [34]:
## input the procuct price
## procuct>1000 rs 20% off
## print the product price
## procuct<=1000 rs 30% off
## print the product price

In [37]:
product_price=int(input("Enter the price = "))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price =  5000

The price of the product is 4000.0

In [ ]:
## mall input the procuct price
## procuct>3000 rs 20% off
## print the product price after removing the discount
## procuct>=2000 and procuct<=3000 rs 30% off
## print the product price after removing the discount
## price ==2999 u will get aditional gift
## procuct>=1000 and procuct<=2000 rs 40% off
## print the product price after removing the discount

In [ ]:
product_price=int(input("Enter the price = "))
if product_price>3000:
    print("The price of the product is {}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("congratulation u will get aditional gift")
    print("The price of the product is {}".format(product_price*0.7))
else:
    print("The price of the product is {}".format(product_price*0.6))

In [42]:
# singal statment
val=int(input("Enter the number"))
if(val<=999):print("value  is less than equal to 999")

Enter the number 524

value  is less than equal to 999

# loop statements
    1.while loop
    2. for loop
    3.nested loops
    4.Loop control(break, continue, pass)

In [43]:
# while loop and while-else
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("you can retaired")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
you can retaired

In [66]:
# ATM MACHINE with 1000rs
total_amount=1000
while total_amount==0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Pute more money bank people")

Pute more money bank people

# for loop

In [47]:
lst1=['nutan',1,2,3,4,"apple","banana"]
print(type(lst1))
print(lst1[5])
for x in lst1:
    print(x)

<class 'list'>
apple
nutan
1
2
3
4
apple
banana

In [48]:
lst2=["apple","banana","mango","papaya"]
for a in lst2:
    print(a)
    if a=="banana":
        print("fruit is banana")

apple
banana
fruit is banana
mango
papaya

In [65]:
# string is collection of eliment i.e. here we can do indexing
name="Nutan"
for x in name:
    print(x)

N
u
t
a
n

In [50]:
print(name[0])

N

## Nested loops

In [79]:
for i in range(0,7):
    print(i)

0
1
2
3
4
5
6

In [51]:
# step size is 1 by default
for i in range(1,6):
    print(i)

1
2
3
4
5

In [63]:
# step size is 2 given
for i in range(1,6,2):
    print(i)

1
3
5

In [64]:
## nested loop
n=7
for i in range(0,n):
    for j in range (0,i+1):
        print("*", end="")

****************************

In [62]:
## nested loop
n=7
for i in range(0,n):
    for j in range (0,i+1):
        print("*", end="\n")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [61]:
## nested loop
n=7
for i in range(0,n):
    for j in range (0,i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

In [60]:
## nested loop
n=7
for i in range(0,n):
    for j in range (0,i+1):
        print("*", end="")
    print("\n")

*

**

***

****

*****

******

*******

In [71]:
## nested loop
n=7
for i in range(0,n):
    for j in range (0,i+1):
        print("*", end="")
    print(" ")

*
**
***
****
*****
******
*******

In [86]:
## nested loop
n=7
for i in range(0,n):
    for j in range (0,i+1):
        print("*",sep='2')
    print("")

*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

*
*
*
*
*
*

*
*
*
*
*
*
*

# loop control
## Break and continue

In [77]:
# break is stop the loop
lst2=["apple","banana","mango","papaya"]
for i in lst2:
    if i=="banana":
        print("the fruit is banana")
        break
    print(i)

apple
the fruit is banana

In [78]:
#
lst2=["apple","banana","mango","papaya"]
for i in lst2:
    if i=="banana":
        print("the fruit is banana")
        pass
    print(i)

apple
the fruit is banana
banana
mango
papaya

In [76]:
lst2=["apple","banana","mango","papaya"]
for i in lst2:
    if i=="banana":
        print("the fruit is banana")
        continue
    print(i)

apple
the fruit is banana
mango
papaya