Python Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

The dictionary is an unordered collection that contains key:value pairs separated by commas inside curly brackets. Dictionaries are optimized to retrieve values when the key is known.

The following declares a dictionary object.

In [2]:
d={}
print(type((d)))

<class 'dict'>

In [3]:
d1={'name':'nuatan', 'email_id':'nb93@gmail.com', 'numbar':9632587410}
print(d1)
print(type(d1))

{'name': 'nuatan', 'email_id': 'nb93@gmail.com', 'numbar': 9632587410}
<class 'dict'>

# In dictionary key should be unique.

In [4]:
d2={'name':'nutan','name':'Gargi'}
print(d2)

{'name': 'Gargi'}

# key can be numeric, boolean , floating value, tuple

In [5]:
d3 = {1234: 'abc', 12.112:'abc', True:'nutan'}
print(d3)

{1234: 'abc', 12.112: 'abc', True: 'nutan'}

In [6]:
d5={(1,2,3,4):'nutan'}
print(d5)

{(1, 2, 3, 4): 'nutan'}

# but key can not be spacial case character(#,@..etc), list, dic

In [7]:
d4={@:'nutan'}

SyntaxError: invalid syntax (292945042.py, line 1)

In [8]:
d5={[1,2,3]:'nutan'}

TypeError: unhashable type: 'list'

In [9]:
d6={{1,2,3,4}:'nutan'}
print(d6)

TypeError: unhashable type: 'set'

# value can be list, Tuple, set ,nested dictionary

In [10]:
d7={'course_name':['data_science','web dev', 'java with dsa and system Design']}
print(d7)

{'course_name': ['data_science', 'web dev', 'java with dsa and system Design']}

In [11]:
d8={'course_name':('data_science','web dev', 'java with dsa and system Design')}
print(d8)

{'course_name': ('data_science', 'web dev', 'java with dsa and system Design')}

In [12]:
d9={'course_name':{'data_science','web dev', 'java with dsa and system Design'}}
print(d9)

{'course_name': {'java with dsa and system Design', 'data_science', 'web dev'}}

In [13]:
d10={'key':{'name':'nutan','city':'bangalore'}}
print(d10)

{'key': {'name': 'nutan', 'city': 'bangalore'}}

In [14]:
d10['key']['city']  # nested dictionary keys and value(items)

'bangalore'

# dic={key:[list], (Tuple), {set} }

In [15]:
d11={'batch_name':['data science master', 'web dev', 'JDS'],'staet_date':(28,14,21), 'mentor':{'krish naik', 'anurag', 'navin', 'hitesh'}}
print(d11)

{'batch_name': ['data science master', 'web dev', 'JDS'], 'staet_date': (28, 14, 21), 'mentor': {'anurag', 'krish naik', 'navin', 'hitesh'}}

# add items(key and value) in dictionary

In [16]:
d11['Timing']=(8,8,8) #add items(key and value)
print(('Mix Dictionary d11 with added key Timing = ').upper(), d11, '\n')
print('Values of mentor(key) = '.upper(),d11['mentor']) # how to get values of key
print(type(d11['mentor']))

MIX DICTIONARY D11 WITH ADDED KEY TIMING =  {'batch_name': ['data science master', 'web dev', 'JDS'], 'staet_date': (28, 14, 21), 'mentor': {'anurag', 'krish naik', 'navin', 'hitesh'}, 'Timing': (8, 8, 8)}

VALUES OF MENTOR(KEY) =  {'anurag', 'krish naik', 'navin', 'hitesh'}
<class 'set'>

In [17]:
d11['key1']='abc' #add items(key and value)
print(('adding key1 in d11 = ').upper(), d11, '\n')
print('Length of d11', len(d11),'\n')

del d11['key1']  # delet key from d11
print(('deleted key1 from d11 = ').upper(), d11, '\n')
print('Length of d11', len(d11))

ADDING KEY1 IN D11 =  {'batch_name': ['data science master', 'web dev', 'JDS'], 'staet_date': (28, 14, 21), 'mentor': {'anurag', 'krish naik', 'navin', 'hitesh'}, 'Timing': (8, 8, 8), 'key1': 'abc'}

Length of d11 5

DELETED KEY1 FROM D11 =  {'batch_name': ['data science master', 'web dev', 'JDS'], 'staet_date': (28, 14, 21), 'mentor': {'anurag', 'krish naik', 'navin', 'hitesh'}, 'Timing': (8, 8, 8)}

Length of d11 4

# How get direct only keys and value from in-buield function

In [18]:
d11={'batch_name':['data science master', 'web dev', 'JDS'],'staet_date':(28,14,21), 'mentor':{'krish naik', 'anurag', 'navin', 'hitesh'}}
print(d11, '\n')
print('Length of d11', len(d11),'\n')
d11.keys()

{'batch_name': ['data science master', 'web dev', 'JDS'], 'staet_date': (28, 14, 21), 'mentor': {'krish naik', 'navin', 'hitesh', 'anurag'}}

Length of d11 3

dict_keys(['batch_name', 'staet_date', 'mentor'])

In [19]:
d11.values()

dict_values([['data science master', 'web dev', 'JDS'], (28, 14, 21), {'krish naik', 'navin', 'hitesh', 'anurag'}])

In [20]:
list(d11.values())

[['data science master', 'web dev', 'JDS'],
 (28, 14, 21),
 {'anurag', 'hitesh', 'krish naik', 'navin'}]

In [21]:
d11.items()

dict_items([('batch_name', ['data science master', 'web dev', 'JDS']), ('staet_date', (28, 14, 21)), ('mentor', {'krish naik', 'navin', 'hitesh', 'anurag'})])

In [22]:
for key, val in d11.items():
    print(key,' = ', val)

batch_name  =  ['data science master', 'web dev', 'JDS']
staet_date  =  (28, 14, 21)
mentor  =  {'krish naik', 'navin', 'hitesh', 'anurag'}

In [23]:
list(d11.items())

[('batch_name', ['data science master', 'web dev', 'JDS']),
 ('staet_date', (28, 14, 21)),
 ('mentor', {'anurag', 'hitesh', 'krish naik', 'navin'})]

### Ex.  d12 = d11.copy()
deeply copy = replicate the hole thing in new memory
1. if i make any changes in d11, then only d11 will change d12 will not affected

### allowcate the same data in diffrent memory location. 
1. d11 memory location => 2117117578560 
2. d12 memory location => 2117113337344

In [24]:
d11={'batch_name':['data science master', 'web dev', 'JDS'],'staet_date':(28,14,21), 'mentor':{'krish naik', 'anurag', 'navin', 'hitesh'}, 'Timing':(8, 8, 8)}
print('original d11 = ', '\n', d11, '\n')
print('d11 memory location =>',id(d11),'\n')

d12=d11.copy()
print('original d12 = ',d12, '\n' )
print('d12 memory location =>',id(d12),'\n')

del d11['Timing']
print('New d11 = ', '\n', d11, '\n') # only changes occure in d11
print('d11 memory location =>',id(d11),'\n')

print('No changes in d12 = ',d12)
print('d12 memory location =>',id(d12),'\n')
#not make any changase in dic if we change in d11 
#d12 not affected due to it saved in diffrent memory location

original d11 =
 {'batch_name': ['data science master', 'web dev', 'JDS'], 'staet_date': (28, 14, 21), 'mentor': {'krish naik', 'navin', 'hitesh', 'anurag'}, 'Timing': (8, 8, 8)}

d11 memory location => 2801504865664

original d12 =  {'batch_name': ['data science master', 'web dev', 'JDS'], 'staet_date': (28, 14, 21), 'mentor': {'krish naik', 'navin', 'hitesh', 'anurag'}, 'Timing': (8, 8, 8)}

d12 memory location => 2801504676416

New d11 =
 {'batch_name': ['data science master', 'web dev', 'JDS'], 'staet_date': (28, 14, 21), 'mentor': {'krish naik', 'navin', 'hitesh', 'anurag'}}

d11 memory location => 2801504865664

No changes in d12 =  {'batch_name': ['data science master', 'web dev', 'JDS'], 'staet_date': (28, 14, 21), 'mentor': {'krish naik', 'navin', 'hitesh', 'anurag'}, 'Timing': (8, 8, 8)}
d12 memory location => 2801504676416

### Ex. d13 = d11 
1. d11 and d13 memory location is same => 2117114793728
2. d13=d11 here we are doing refrencing the old memery location data
3. here no new memory location is allowcated
4. changes ocuure in both d13 and d11 if we male any changes in 1.

In [25]:
d11={'batch_name':['data science master', 'web dev', 'JDS'],'staet_date':(28,14,21), 'mentor':{'krish naik', 'anurag', 'navin', 'hitesh'}, 'Timing':(8, 8, 8)}
print('original d11 => ' '\n',d11, '\n')
print('Length of d11 => ', len(d11))
print('d11 memory location =>',id(d11),'\n')

d13=d11

d13['new_year']=2023
print('d13 => ', '\n', d13, '\n')
print('Length of d13 => ', len(d13))
print('d13 memory location =>',id(d13),'\n')
print('new d11 => ', '\n', d11, '\n')

original d11 =>
 {'batch_name': ['data science master', 'web dev', 'JDS'], 'staet_date': (28, 14, 21), 'mentor': {'krish naik', 'navin', 'hitesh', 'anurag'}, 'Timing': (8, 8, 8)}

Length of d11 =>  4
d11 memory location => 2801504863808

d13 =>
 {'batch_name': ['data science master', 'web dev', 'JDS'], 'staet_date': (28, 14, 21), 'mentor': {'krish naik', 'navin', 'hitesh', 'anurag'}, 'Timing': (8, 8, 8), 'new_year': 2023}

Length of d13 =>  5
d13 memory location => 2801504863808

new d11 =>
 {'batch_name': ['data science master', 'web dev', 'JDS'], 'staet_date': (28, 14, 21), 'mentor': {'krish naik', 'navin', 'hitesh', 'anurag'}, 'Timing': (8, 8, 8), 'new_year': 2023}

In [26]:
dict_makeup = {'eye':'eyeliner', 'face':'foundation', 'hair':'counditionar'}
dict_makeup.pop('hair')
print(dict_makeup)

{'eye': 'eyeliner', 'face': 'foundation'}

In [27]:
#cosider value as respective keys
d={}
print(d.fromkeys((1,2,3),('nagpur', 'pune', 'goa')))

{1: ('nagpur', 'pune', 'goa'), 2: ('nagpur', 'pune', 'goa'), 3: ('nagpur', 'pune', 'goa')}

In [28]:
d14={'key1':'value1', 'key2':'value2',}
d15={'key3':'value3', 'key4':'value4'}

In [29]:
(d14,d15)

({'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [30]:
d14.update(d15) #update old dict with its existing and new value

In [31]:
d14

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [32]:
d15

{'key3': 'value3', 'key4': 'value4'}

In [33]:
d15.update(d14)

In [34]:
d15

{'key3': 'value3', 'key4': 'value4', 'key1': 'value1', 'key2': 'value2'}

In [35]:
d15.get('key4')

'value4'

In [36]:
d15['key4']

'value4'

In [37]:
d15.get('nutan') # it not giving error

In [38]:
d15['nutan']

KeyError: 'nutan'

# dictinary comprihention

In [40]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [41]:
type({i:i**2 for i in range(1,11)})

dict

In [42]:
import math
{i:math.log10(i) for i in range(1,11)}

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [43]:
d15

{'key3': 'value3', 'key4': 'value4', 'key1': 'value1', 'key2': 'value2'}

In [44]:
'key4' in d15

True

In [47]:
d16.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [49]:
# filter out keys are even number
d16={i:math.log10(i) for i in range(1,11)}
for i in d16.keys():
    if i %2==0:
        print(i, '=', d16[i])

2 = 0.3010299956639812
4 = 0.6020599913279624
6 = 0.7781512503836436
8 = 0.9030899869919435
10 = 1.0

In [50]:
a=['data_science','web dev', 'java with dsa and system Design']
d7={'course_name': a}
print(d7)
a.append('python')
print(d7)

{'course_name': ['data_science', 'web dev', 'java with dsa and system Design']}
{'course_name': ['data_science', 'web dev', 'java with dsa and system Design', 'python']}

# Built-in Dictionary Methods
|Method|	Description|
|:-:|:-:|
|dict.clear()	|Removes all the key-value pairs from the dictionary.|
|dict.copy()	|Returns a shallow copy of the dictionary.|
|dict.fromkeys()	|Creates a new dictionary from the given iterable (string, list, set, tuple) as keys and with the specified value.|
|dict.get()	|Returns the value of the specified key.|
|dict.items()	|Returns a dictionary view object that provides a dynamic view of dictionary elements as a list of key-value pairs. This view object changes when the dictionary changes.|
|dict.keys()	|Returns a dictionary view object that contains the list of keys of the dictionary.|
|dict.pop()	|Removes the key and return its value. If a key does not exist in the dictionary, then returns the default value if specified, else throws a KeyError.|
|dict.popitem()	|Removes and return a tuple of (key, value) pair from the dictionary. Pairs are returned in Last In First Out (LIFO) order.|
|dict.setdefault()	|Returns the value of the specified key in the dictionary. If the key not found, then it adds the key with the specified defaultvalue. If the defaultvalue is not specified then it set None value.|
|dict.update()	|Updates the dictionary with the key-value pairs from another dictionary or another iterable such as tuple having key-value pairs.|
|dict.values()	|Returns the dictionary view object that provides a dynamic view of all the values in the dictionary. This view object changes when the dictionary changes.|