# Lambda Functions

lambda keyword is used to define an anonymous function(a function without name) in Python.

we can write singale line code withoute using def function

|With lambda function|	Without lambda function|
|:-:|:-:|
|Supports single line statements that returns some value.|	Supports any number of lines inside a function block|
|Good for performing short operations/data manipulations.|	Good for any cases that require multiple lines of code.|
|Using lambda function can sometime reduce the readability of code.	|We can use comments and function descriptions for easy readability.|

In [8]:
##  Without lambda function
def cube(base, power):
    return base**power
print(cube(2,3))

8

In [9]:
# With lambda function
lambda base, power: base**power #a function without name

In [10]:
# now we gave adhocname/ ananomaus function 
cube = lambda base, power: base**power
print(cube(2,3))

8

In [11]:
add= lambda x,y: x+y
print(add(2,3))  # short hand function

5

In [12]:
c_to_t= lambda c: (9/5)*c+32
print(c_to_t(32))
print(c_to_t(34))

89.6
93.2

In [13]:
max_tow= lambda x,y: x if x>y else y
print(max_tow(4,56))

56

In [14]:
max_number=lambda x,y: max(x,y)
fact(9,10)

10

In [16]:
lenth_string='nutan bagde'
find_len=lambda lenth_string: len (lenth_string)
find_len(lenth_string)

11

In [1]:

def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

# map

The map() function in Python takes in a function and a list as an argument. The function is called with a lambda function and a list and a new list is returned which contains all the lambda modified items returned by that function for each item

In [21]:
l=[1,2,3,4,5,6,7]

In [24]:
def test(l):
    l1=[]
    for i in (l):
        l1.append(i**2)
    return l1

In [25]:
test(l)

[1, 4, 9, 16, 25, 36, 49]

In [27]:
list(map(lambda x: x**2 , l)) # map take full list

[1, 4, 9, 16, 25, 36, 49]

In [30]:
# addition of 2 list with respective its index
l2=[1,2,3,4,5]
l3=[6,7,8,9,10]
print(list(map(lambda x,y: x+y, l2,l3)))

[7, 9, 11, 13, 15]

In [33]:
s= "nutanbagde"
print(list(map(lambda x : str(x).upper(), s)))

['N', 'U', 'T', 'A', 'N', 'B', 'A', 'G', 'D', 'E']

# reduce()

1. The reduce() function in Python takes in a function and a list as an argument. 
2. The function is called with a lambda function and an iterable and a new reduced result is returned. 
3. This performs a repetitive operation over the pairs of the iterable. The reduce() function belongs to the  functools module.
#### from functools import reduce
4. It alwyas take only 2 argument not more than that.
5. empty iterable or list not allowed to pass frm reduce fun.

In [39]:
from functools import reduce
l4=[1,2,3,4,5,4]
print(reduce(lambda x,y: x+y, l4))

19

how the reeduce function internaly work in aboue example
| |x|+|y|=|add|
|:-:|:-:|:-:|:-:|:-:|:-:|
| |1|+|2|=|3|
|add=>|3|+|3|=|6|
|add=>|6|+|4|=|10|
|add=>|10|+|5|=|15|
|add=>|15|+|4|=|19|

In [40]:
def add(x,y):
    return x+y
print(reduce(add,l4))

19

In [44]:
# empty iterable or list not allowed
reduce(lambda x,y: x+y, [])

TypeError: reduce() of empty iterable with no initial value

In [45]:
# where is a y but here it is a exceptinal case
reduce(lambda x,y: x+y, [1])

1

In [46]:
reduce(lambda x,y: x*y, [1])

1

In [50]:
reduce(lambda x,y: x if x>y else y , l4)

5

In [54]:
reduce(lambda x,y :max(x,y), l4)

5

In [55]:
reduce(lambda x,y: x if x<y else y , l4)

1

In [56]:
reduce(lambda x,y :min(x,y), l4)

1

# filter

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

syntax:
    
filter(function or None, iterable)

Parameters:
    
iterable: function that tests if each element of a sequence true or not.

sequence: sequence which needs to be filtered, it can be sets, lists, tuples, or containers of any iterators.

Returns:

returns an iterator that is already filtered.

In [64]:
l4

[1, 2, 3, 4, 5, 4]

In [65]:
list(filter(lambda x: x%2==0, l4)) # for even element

[2, 4, 4]

In [66]:
list(filter(lambda x: x%2!=0, l4)) # for odd element

[1, 3, 5]

In [72]:
# find all -ve no

l5=[1, -2, 3, -4, -5, 4]
print(list(filter(lambda x:x<0,l5)))

[-2, -4, -5]

In [73]:
# find all +ve no

l5=[1, -2, 3, -4, -5, 4]
print(list(filter(lambda x:x>0,l5)))

[1, 3, 4]

In [74]:
l6=['nut','banglor', 'kumar', 'gargie']

In [76]:
print(list(filter(lambda x: len(x)<6, l6)))

['nut', 'kumar']