# Tuples 

Tuples are used to store multiple items in a single variable.

Tuple is one data types in Python used to store collections of data.

A tuple is a collection which is ordered ,unchangeable allow duplicate values.

Tuples are written with round brackets ().

1. Tuples are ordered --> it means that the items have a defined order, and that order will not change.
2. Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been     
        created.
3. Tuple allow duplicate values --> Since tuples are indexed, they can have items with the same value

In [84]:
String="I am doing data science course from PW Skill"

In [85]:
Make_List=String.split()
print(Make_List)

['I', 'am', 'doing', 'data', 'science', 'course', 'from', 'PW', 'Skill']

In [86]:
type(Make_List)

list

In [87]:
make_tuple=tuple(Make_List)
print(make_tuple)
print(type(make_tuple))

('I', 'am', 'doing', 'data', 'science', 'course', 'from', 'PW', 'Skill')
<class 'tuple'>

In [88]:
# syntax of tuple

t=()
print(type(t))

<class 'tuple'>

In [89]:
t1=(1,2,3,4,45,45.45,45+7j, 'Nutan', True)
print(type(t1))

<class 'tuple'>

In [90]:
t1[0] #indexing

1

In [91]:
t1[::-1] # teprary reverse order but origan tuple will be same

(True, 'Nutan', (45+7j), 45.45, 45, 4, 3, 2, 1)

In [92]:
# but if u asigne reverse order then
t1=t1[::-1]
print(t1)

(True, 'Nutan', (45+7j), 45.45, 45, 4, 3, 2, 1)

In [93]:
t1[0:3] # extract some information from tuple--slicing

(True, 'Nutan', (45+7j))

### Tuple Methods
Python has two built-in methods that you can use on tuples.

|Method|	Description|
|:-:|:-:|
|count()|	Returns the number of times a specified value occurs in a tuple|
|index()	|Searches the tuple for a specified value and returns the position of where it was found|

In [94]:
t1.count(45)

1

In [95]:
print(t1)
print(t1.index(1)) # here very  1 index should be =8 but =0
#True's intarnal storage value is 1 therefor index=0

(True, 'Nutan', (45+7j), 45.45, 45, 4, 3, 2, 1)
0

In [96]:
t1.index('Nutan')

1

In [97]:
# internaly system store Ture=1 that means 1=True  and (false=0)
#t1=(True,1)  (ans==2)
t1.count(True)

2

### Tuple immutable you can nat be update any information in exestin

In [98]:
print(t1)
print(Make_List)

(True, 'Nutan', (45+7j), 45.45, 45, 4, 3, 2, 1)
['I', 'am', 'doing', 'data', 'science', 'course', 'from', 'PW', 'Skill']

### Tuple object does not support item assignment
1. Tuple are basically follows  Immutability concepts where it is not going to allow to change any element at a perticular index "
2. Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created

In [99]:
#'tuple' object does not support item assignment
t1[0]=False

TypeError: 'tuple' object does not support item assignment

In [100]:
# list support support item assignment
Make_List[0]=100
print(Make_List)

[100, 'am', 'doing', 'data', 'science', 'course', 'from', 'PW', 'Skill']

In [101]:
for i in t1:
    print(i," = ", type(i))

True  =  <class 'bool'>
Nutan  =  <class 'str'>
(45+7j)  =  <class 'complex'>
45.45  =  <class 'float'>
45  =  <class 'int'>
4  =  <class 'int'>
3  =  <class 'int'>
2  =  <class 'int'>
1  =  <class 'int'>

In [102]:
t2=(1,2,3,4)
print(t2*3) # replicate same tuple 3 trimes

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [103]:
print(max(t2))
print(min(t2))

4
1

In [104]:
##  tuples inside tuple
t3=(1,3,4,5)
t4=('a','b','c','d')
t5=(t3,t4)
print(t5)

((1, 3, 4, 5), ('a', 'b', 'c', 'd'))

In [105]:
##  List and tuple inside tuple
t6=(t3,Make_List)
print(t6)

((1, 3, 4, 5), [100, 'am', 'doing', 'data', 'science', 'course', 'from', 'PW', 'Skill'])

In [106]:
# delete tuple
del t6

In [107]:
t6

NameError: name 't6' is not defined

In [108]:
len(t3)

4

### Since tuples are immutable, they do not have a build-in append().
    1.You cannot remove items in a tuple.
    2. Convert the tuple into a list, make opration like add, remove and convert it back into a tuple:

In [109]:
#  Since tuples are immutable, they do not have a build-in append() method, 
#  but there are other ways to add items to a tuple.
thistuple = ("apple", "banana", "cherry")
print("old tuple ", " = ", thistuple)
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print("new tuple ", " = ", thistuple)

old tuple   =  ('apple', 'banana', 'cherry')
new tuple   =  ('apple', 'banana', 'cherry', 'orange')

#

## Unpacking a Tuple
    Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [113]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

### Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [111]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [112]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry